<h1>{{ stationData.name }}</h1>
<div class="station">
    <div class="borne" *ngFor="let borne of stationData.bornes">
        <h2>TICKETS / RECHARGEMENT</h2>
        <div class="detail">
            <h3>Borne {{ borne.id }}</h3>
            <p>Ink Level: {{ borne.ink_level }}</p>
            <p>Paper Level: {{ borne.paper_level }}</p>
            <button (click)="resetInkLevel(borne)">Reset Ink Level</button>
            <br />
            <button (click)="resetPaperLevel(borne)">Reset Paper Level</button>
        </div>
        <hr>
    </div>
</div>
