<h1>Station {{ stationNumber }} Details</h1>
<div class="station">
    <div>
        <app-tvm [id]="tvm1.id" [ink_level]="tvm1.ink_level" [paper_level]="tvm1.paper_level" [status]="tvm1.status"></app-tvm>
    </div>
    <div>
        <app-tvm [id]="tvm2.id" [ink_level]="tvm2.ink_level" [paper_level]="tvm2.paper_level" [status]="tvm2.status"></app-tvm>
    </div>
    <div>
        <app-tvm [id]="tvm3.id" [ink_level]="tvm3.ink_level" [paper_level]="tvm3.paper_level" [status]="tvm3.status"></app-tvm>
    </div>
</div>
