<div class="container">
    <p>{{ selectedAgent?.name }}</p>

    <select (change)="updateSelectedStation($event)">
        <option *ngFor="let station of stations" [value]="station.id">{{station.name}}</option>
    </select>

    <button (click)="assignStation()">Valider</button>

    <p>Status de l'agent : {{ selectedAgent?.status }}</p>
    <p class="error-message">{{ errorMessage }}</p>
    <p *ngIf="selectedAgent?.status === 'Occupé'">Temps d'intervention restant : {{ selectedAgent?.interventionTime }} secondes</p>
</div>