.map-container {
    position: relative;
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.line {
    position: absolute;
    width: 95%;
    height: 8px;
    left: 2.5%;
}

.line1 { top: 100px; background-color: #FFD700; }
.line2A { top: 300px; background-color: #FF0000; }
.line2B { top: 400px; background-color: #FF0000; }

.station {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    margin-left: -10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #000000;
    cursor: pointer;
}

.station::after {
    content: attr(data-name);
    position: absolute;
    width: 70px;
    max-height: 40px;
    bottom: 200%;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    white-space: normal;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    line-height: 15px;
    transition: all 0.3s ease;
}

.station:hover::after {
    font-size: 12px;
}

.station-low-ink {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #000000;
    cursor: pointer;
    background-color: #FF0000;;
}
.station-medium-ink {
    background-color: orange;
}

.station-critical-ink {
    background-color: red;
}

.metro {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 10px;
    background-color: #555;
    border-radius: 10px;
    transform: translateY(-50%);
    box-sizing: border-box;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: moveTrain 60s linear infinite;
}

.metro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: #333;
}

.metro::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    width: 10px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transform: translateY(-50%);
    box-shadow: 50px 0 0 #fff;
}

@keyframes moveTrain {
    0% { left: 0; }
    50% { left: 95%; }
    100% { left: 0; }
}

.custom-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 1000;
}
.agent-select-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.agent-select-popup ul {
    list-style: none;
    padding: 0;
}

.agent-select-popup li {
    padding: 10px;
    margin: 5px 0;
    background-color: #efefef;
    cursor: pointer;
}

.agent-select-popup li:hover {
    background-color: #ddd;
}
