.map-container {
    position: relative;
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.line {
    position: absolute;
    width: 95%;
    height: 8px;
    left: 2.5%;
}

.line1 { top: 100px; background-color: #FFD700; }
.line2A { top: 300px; background-color: #FF0000; }
.line2B { top: 400px; background-color: #FF0000; }

.station {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    margin-left: -10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #000000;
    cursor: pointer;
}

.station::after {
    content: attr(data-name);
    position: absolute;
    width: 70px;
    max-height: 40px;
    bottom: 200%;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    white-space: normal;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    line-height: 15px;
}
.station-low-ink {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #000000;
    cursor: pointer;
    background-color: #FF0000;;
}
.station-medium-ink {
    background-color: orange;
}

.station-critical-ink {
    background-color: red;
}

.agents-popup {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 200px;
    max-width: 90vw; 
    max-height: 90vh;
    overflow: auto;
    background-color: black; 
    border: 1px solid #ccc; 
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
    transition: transform 0.3s ease-in-out;
}

.agents-popup.visible {
    transform: translateY(0);
}

.agents-popup.hidden {
    transform: translateY(calc(100%)); 
}

.agents-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.agent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 56px;
    margin-top: 450px;
}

.agent img {
    width: 50px;
    height: 50px;
}