<!-- home.component.html -->
<div class="notification-bell">
    <button (click)="showNotifications()"><i class="fas fa-bell"></i></button>
</div>

<div class="notification-menu">
    <button (click)="hideNotifications()">Fermer</button>
    <h2>Notifications</h2>
    <ul>
        <li *ngFor="let notification of notifications; let i = index">
            {{ notification }}
            <button (click)="removeNotification(i)">Supprimer</button>
        </li>
    </ul>
    <p *ngIf="notifications.length === 0">Vous n'avez pas de notifications pour le moment !</p>
</div>
<div id="Text">
    <span>Ilévia</span>
    <span>Lille</span>
</div>
<button class="burger-menu" (click)="toggleMenu()">☰</button>

<app-popup-probleme *ngIf="showPopup" (closePopup)="showPopup = false"></app-popup-probleme>

<div class="map-container">
    <!-- Ligne 1 -->
    <div class="line line1">
        <div *ngFor="let station of metroLines['MetroLine1']; let i = index" [ngClass]="{
            'station': true,
            'station-medium-ink': stationInkStatuses[station.id] === 'medium',
            'station-critical-ink': stationInkStatuses[station.id] === 'critical'
        }" (click)="onSelectStation(station)" [style.left]="getStationPosition(i, metroLines['MetroLine1'].length)"
            [attr.data-name]="station.name">
            <p *ngIf="station.agent">{{ station.agent.name }}</p>
        </div>
        <div class="metro" (click)="onMetroClick()"></div>
    </div>

    <!-- Ligne 2A -->
    <div class="line line2 line2A">
        <div *ngFor="let station of metroLines['MetroLine2A']; let i = index" [ngClass]="{
             'station': true,
             'station-medium-ink': stationInkStatuses[station.id] === 'medium',
     'station-critical-ink': stationInkStatuses[station.id] === 'critical'
         }" (click)="onSelectStation(station)" [style.left]="getStationPosition(i, metroLines['MetroLine2A'].length)"
            [attr.data-name]="station.name">
            <p *ngIf="station.agent">{{ station.agent.name }}</p>
        </div>
        <div class="metro" (click)="onMetroClick()"></div>
    </div>

    <!-- Ligne 2B -->
    <div class="line line2 line2B">
        <div *ngFor="let station of metroLines['MetroLine2B']; let i = index" [ngClass]="{
             'station': true,
             'station-medium-ink': stationInkStatuses[station.id] === 'medium',
     'station-critical-ink': stationInkStatuses[station.id] === 'critical'
         }" (click)="onSelectStation(station)" [style.left]="getStationPosition(i, metroLines['MetroLine2B'].length)"
            [attr.data-name]="station.name">
            <p *ngIf="station.agent">{{ station.agent.name }}</p>
        </div>
        <div class="metro" (click)="onMetroClick()"></div>
    </div>

    <div class="menu-content" [class.menu-closed]="!showMenu" [style.display]="showMenu ? 'block' : 'none'">
        <button class="close-menu" (click)="toggleMenu()">X</button>
        <h2>Sélectionner un agent :</h2>
        <div *ngFor="let agent of agents; let i = index" class="agent">
            <img [src]="agent.photoUrl" alt="Photo de l'agent">
            <button (click)="onSelectAgent(agent)">Voir la disponibilité</button>
        </div>
        <app-agents (agentAssigned)="onAgentAssigned($event)" [selectedAgent]="selectedAgent"
            (closePopupEvent)="hideAgents()"></app-agents>
    </div>

    <div *ngIf="showFullscreenImage" (click)="hideFullscreenImage()"
        style="z-index: 2; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8);">
        <img style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 100%; max-height: 100%;"
            [src]="currentImageUrl" alt="People in metro">
    </div>

    <div id="electric">
    </div>
    <div id="metro1">
    </div>
    <div id="metro">
        <span class="back">
            <div class="door"></div>
            <div class="mirror">
                <span class="m1"></span>
                <span class="m2"></span>
                <span class="m3"></span>
                <span class="m4"></span>
            </div>
            <div class="door2"></div>
        </span>
        <span class="back">
            <div class="door"></div>
            <div class="mirror">
                <span class="m1"></span>
                <span class="m2"></span>
                <span class="m3"></span>
                <span class="m4"></span>
            </div>
            <div class="door2"></div>
        </span>
        <span class="engine">
            <div class="spark">
            </div>
            <div class="spark1"></div>
            <div class="door"></div>
            <div class="mirror1">
                <span class="m1"></span>
                <span class="m22"></span>
            </div>
        </span>
    </div>
    <div class="track">
    </div>