<!-- home.component.html -->
<!-- Popup de Sélection d'Agent -->
<div *ngIf="showSelectAgentPopup" class="agent-select-popup">
    <h3>Sélectionnez un agent pour l'alerte: {{ currentAlert }}</h3>
    <ul>
        <li *ngFor="let agent of getAgents()" (click)="assignAgent(agent)">
            {{ agent.name }} - {{ agent.isAvailable ? 'Disponible' : 'Occupé' }}
        </li>
    </ul>
</div>
<div class="map-container">
    <!-- Ligne 1 -->
    <div class="line line1">
        <div *ngFor="let station of appService.metroLine1; let i = index"
             [ngClass]="{
                 'station': true,
                 'station-medium-ink': getStationInkStatus(station) === 'medium',
                 'station-critical-ink': getStationInkStatus(station) === 'critical'
             }"
             (click)="onSelectStation(station)"
             [style.left]="getStationPosition(i, appService.metroLine1.length)"
             [attr.data-name]="station.name">
        </div>
        <div class="metro"></div>
    </div>

    <!-- Ligne 2A -->
    <div class="line line2 line2A">
        <div *ngFor="let station of appService.metroLine2A; let i = index"
             [ngClass]="{
                 'station': true,
                 'station-medium-ink': getStationInkStatus(station) === 'medium',
                 'station-critical-ink': getStationInkStatus(station) === 'critical'
             }"             (click)="onSelectStation(station)"
             [style.left]="getStationPosition(i, appService.metroLine2A.length)"
             [attr.data-name]="station.name">
        </div>
        <div class="metro"></div>
    </div>

    <!-- Ligne 2B -->
    <div class="line line2 line2B">
        <div *ngFor="let station of appService.metroLine2B; let i = index"
             [ngClass]="{
                 'station': true,
                 'station-medium-ink': getStationInkStatus(station) === 'medium',
                 'station-critical-ink': getStationInkStatus(station) === 'critical'
             }"             (click)="onSelectStation(station)"
             [style.left]="getStationPosition(i, appService.metroLine2B.length)"
             [attr.data-name]="station.name">
        </div>
        <div class="metro"></div>
    </div>
</div>
